{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Dashboard - CertoMeter</title>
    <!-- CSS files -->
    <link href="{% static '/dist/css/tabler.css' %}" rel="stylesheet"/>
    <link href="{% static '/dist/css/tabler-flags.min.css' %}" rel="stylesheet"/>
    <link href="{% static '/dist/css/tabler-payments.min.css' %}" rel="stylesheet"/>
    <link href="{% static '/dist/css/tabler-vendors.min.css' %}" rel="stylesheet"/>
    <!-- custom CSS -->
    <link href="{% static '/assets/css/custom.css' %}" rel="stylesheet"/>
  </head>
  <body >
    <div class="page">
      <!-- Sidebar -->
      {% include "sidebar.html" %}
      <div class="page-wrapper">